= simple_form_for(@person) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.association :family
    = f.input :portrait, as: :file
    = f.input :born_on, start_year: Date.today.year - 90, end_year: Date.today.year

  .form-actions
    = f.button :submit
