.pull-right
  - if @person.portrait.blank?
    %img{src: @person.img}
    %div Img
  - else
    = image_tag @person.portrait :medium
    %div Portrait
%p
  %b Name:
  = @person.name
%p
  %b Family:
  = link_me @person.family
%p
  %b born_on:
  = @person.born_on
%p
  %b Age:
  = @person.age

= link_to 'Destroy', @person, :method => :delete, :data => { :confirm => 'Are you sure?' }
\|
= link_to 'Edit', edit_person_path(@person)
\|
= link_to 'Back', people_path

