- if can? :manage, @article
  .pull-right
    = link_to 'Edit', edit_article_path(@article)
    = link_to 'Destroy', @article, :method => :delete, :data => { :confirm => 'Are you sure?' }
%h1= @article.title
%p= @article.body
%p by: #{@article.authors.join(', ')}
