.pull-right
  = link_to 'Edit', edit_family_path(@family)
  \|
  = link_to 'Back', families_path
%h1
  = @family.name

- @family.people.each do |person|
  .person
    %img{src: person.img}
    .name= link_me person
    .days
      (
      - person.days.each do |day|
        = link_me day
      )
