%h1 Listing cheers

- @cheers.each do |cheer|

  %b= cheer.title
  
  .pull-right
    = link_to 'Show', cheer
    \|
    = link_to 'Edit', edit_cheer_path(cheer)
    \|
    = link_to 'Destroy', cheer, :method => :delete, :data => { :confirm => 'Are you sure?' }

  :markdown
    #{cheer.cheer}

%br
= link_to 'New Cheer', new_cheer_path
