%p#notice= notice

%p
  %b Title:
  = @title.title
%p
  %b Subtitle:
  = @title.subtitle
%p
  %b Content:
  = @title.content

= link_to 'Edit', edit_title_path(@title)
\|
= link_to 'Back', titles_path
