.pull-right.edit-nav
  = link_to 'Index', titles_path
  = link_to 'New', new_title_path
  = link_to 'Show', @title
  = link_to 'Edit', edit_title_path(@title)
  = link_to 'Destroy', @title, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h1= @title.title
%h2= @title.subtitle
.copy
  :markdown
    #{ @title.content }

