%h1 Listing poem_pages


- @poem_pages.each do |poem_page|

  %b= poem_page.number

  .pull-right
    = link_to 'Show', poem_page
    \|
    = link_to 'Edit', edit_poem_page_path(poem_page)
    \|
    = link_to 'Destroy', poem_page, :method => :delete, :data => { :confirm => 'Are you sure?' }

  :markdown
    #{poem_page.lines}

%br
= link_to 'New Poem page', new_poem_page_path
