= simple_form_for(@image) do |f|
  = f.error_notification

  .frames
    .frame
      - if @image.image
        = image_tag @image.image
      - else
        %img{src: @image.filename}

  .caption= f.input :caption
  .tags= f.input :tags_s, label: 'Tags'
  .form-fields
    = f.input :image, as: :file

  .form-actions
    = f.button :submit, class: 'btn-primary'
