= simple_form_for(@image) do |f|
  = f.error_notification

  .frame
    - if @image.image
      = image_tag @image.image
    - else
      %img{src: @image.filename}
    .caption= f.input :caption

  .form-fields
    = f.input :image, as: :file

  .form-actions
    = f.button :submit
