.pull-right
  = link_to 'Index', images_path
  = link_to 'Edit', edit_image_path(@image)
  = link_to 'Destroy', @image, :method => :delete, :data => { :confirm => 'Are you sure?' }

.frame
  - if @image.image
    = image_tag @image.image.url
  - else
    %img{src: @image.filename}
  .caption= @image.caption

